<label style="font-size: 30px;">Staff Details</label>

					<div class="row">   
						<div class="col-12 col-md-12 col-lg-3">
							<div class="card">
								
								<div class="card-header">
                                    <img class="card-img-top" src="../static/assets/img/doctors/doctors-1.jpg" alt="Unsplash">
									
								</div>
								<div class="card-body">
                                    <h5 class="card-title mb-0 text-center">Simon Stack</h5><br>
									<p class="card-text text-center">1001</p>
									<p class="card-text text-center">8562458623</p>
                                    <p class="card-text text-center">Admin</p>
								</div>
							</div>
						</div>
                        <div class="col-12 col-md-12 col-lg-3">
							<div class="card">
								
								<div class="card-header">
                                    <img class="card-img-top" src="../static/assets/img/doctors/doctors-2.jpg" alt="Unsplash">
									
								</div>
								<div class="card-body">
                                    <h5 class="card-title mb-0 text-center">Sonia Bush</h5><br>
									<p class="card-text text-center">1002</p>
									<p class="card-text text-center">8562458623</p>
                                    <p class="card-text text-center">Doctor</p>
								</div>
							</div>
						</div>
                        <div class="col-12 col-md-12 col-lg-3">
							<div class="card">
								
								<div class="card-header">
                                    <img class="card-img-top" src="../static/assets/img/doctors/doctors-3.jpg" alt="Unsplash">
									
								</div>
								<div class="card-body">
                                    <h5 class="card-title mb-0 text-center">Brad Forst</h5><br>
									<p class="card-text text-center">1003</p>
									<p class="card-text text-center">8562458623</p>
                                    <p class="card-text text-center">Doctor</p>
								</div>
							</div>
						</div>
                        <div class="col-12 col-md-12 col-lg-3">
							<div class="card">
								
								<div class="card-header">
                                    <img class="card-img-top" src="../static/assets/img/doctors/doctors-4.jpg" alt="Unsplash">
									
								</div>
								<div class="card-body">
                                    <h5 class="card-title mb-0 text-center">Belina Turner</h5><br>
									<p class="card-text text-center">1004</p>
									<p class="card-text text-center">8562458623</p>
                                    <p class="card-text text-center">Doctor</p>
								</div>
							</div>
						</div>
							</div>



































							

							<table id="datatables-buttons" class="table table-striped" style="width:100%">
								<thead>
									<tr>
										<th>Name</th>
										<th>Category</th>>
										<th>Supplier</th>
										<th>Store</th>
										<th>Date</th>
										<th>Date</th>
										<th>Total Quantity</th>
										<th>Purchase Price($)</th>
										<th>Action</th>
									</tr>
								</thead>
							</table>

































							<main class="content">
								<div class="container-fluid p-0">
			
									<div class="col-12">
										<div class="card">
											<div class="card-header">
												<label style="font-size: 40px;">Profile</label><br>
												<a class="btn btn-primary" href="pages-reset-password.html">Change Password</a>
											</div>
											<div class="card-body">
												<center><img src="../static/assets/img/Theme/avatars/avatar.jpg"
														class="rounded-circle" width="150px" height="150px"></center>
												<center><label class="card-title" style="font-size:  40px;">Oliver
														Thomas</label></center>
												<table id="datatables-buttons" class="table table-striped">
													<tbody>
														<tr>
															<td style="font-weight: bold;">Patient ID</td>
															<td class="text-primary" style="font-weight: bold;">1002</td>
														</tr>
														<tr>
															<td style="font-weight: bold;">Gender</td>
															<td class="text-primary" style="font-weight: bold;">Male</td>
														</tr>
														<tr>
															<td style="font-weight: bold;">Martial Status</td>
															<td class="text-primary" style="font-weight: bold;">Single</td>
														</tr>
														<tr>
															<td style="font-weight: bold;">Phone</td>
															<td class="text-primary" style="font-weight: bold;">9875645676</td>
														</tr>
														<tr>
															<td style="font-weight: bold;">Email</td>
															<td class="text-primary" style="font-weight: bold;">xyz@gmail.com
															</td>
														</tr>
														<tr>
															<td style="font-weight: bold;">Address</td>
															<td class="text-primary" style="font-weight: bold;">ABC</td>
														</tr>
														<tr>
															<td style="font-weight: bold;">Age</td>
															<td class="text-primary" style="font-weight: bold;">24</td>
														</tr>
														<tr>
															<td style="font-weight: bold;">Guardian name</td>
															<td class="text-primary" style="font-weight: bold;">dfhshfdhuss</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</main>